/* ibm-plex-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/ibm-plex-sans-v13-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ibm-plex-sans-v13-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/ibm-plex-sans-v13-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ibm-plex-sans-v13-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
  box-sizing: border-box;

}

/* Common */
body {
  font-family: 'Roboto', sans-serif;
  color: #290636;

}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1278px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.btn {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
  min-width: 513px;
  padding: 24px;
  color: #fff;
  background-color: #4B0A64;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 4px solid #4B0A64;
  cursor: pointer;
}

.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
  color: #290636;
}

/* Header */
header {
  padding: 40px -0;
  color: #fff;
  background-color: #290636;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  line-height: 47px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-left: 80px;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-link {
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

/* Product */

.product {
  padding: 77px 0 150px 0;
  background-color: rgba(75, 10, 100, -3);
}

.product-wrap {
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
}

.product-visual {
  flex-basis: 41.66%;
  padding-right: 15px;
}

.producy-content {
  flex-basis: 58.33%;
  padding-left: 15px;
}

.product-title {
  font-family: 'IBM Plex Sans';
  font-size: 72px;
  line-height: 86px;
  color: #290636;
}

.product-info {
  font-size: 28px;
  line-height: 36px;
  opacity: .7;
}

.product-price {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 52px;
  line-height: 68px;
}

/* Slogan */
.slogan {
  background: url(../images/slogan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.slogan-fade {
  background-color: rgba(41, 6, 54, .3);
  padding: 230px 0;
}

.slogan-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 83px;
}

.slogan-text {
  margin-bottom: 0;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}



/* Options */
.options {
  padding: 150px 0 120px;
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.options-item {
  flex-basis: calc(50% - 15px);
  margin-bottom: 30px;
  padding: 50px 40px;
  background-color: #fff;
  list-style: none;
  box-shadow: 0px 0px 30px rgba(12, 0, 147, 0.1);
  border: 1px solid rgba(12, 0, 147, 0.1);
  border-radius: 5px;

}

.options-caption {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  margin-top: 0;
}

.options-text {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 0;
}


/* Order */


.order {
  background-image: url(../images/order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  text-align: center;
}

.order-fade {
  padding: 230px 0;
  background-color: rgba(255, 255, 255, .5);
}

.order-text {
  font-size: 48px;
  line-height: 56px;

}


/* Footer */
.footer {
  padding: 42px 0;
  background-color: #290636;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #fff;
  opacity: .8;
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-icon {
  margin-left: 15px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
